Workflows/advcellp_DepartmentBasedApproverMappingProject-0697A4A6-2D41-F011-877A-7CED8D3A90CB.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "advcellp_sharedsharepointonline_5eb58"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "advcellp_sharedcommondataserviceforapps_f3c76"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Sharepoint Site Name (advcellp_SharepointSiteName)": {
          "defaultValue": "https://agratas.sharepoint.com/sites/AgratasCellpackSite",
          "type": "String",
          "metadata": {
            "schemaName": "advcellp_SharepointSiteName"
          }
        },
        "Approver List Name (advcellp_ApproverListName)": {
          "defaultValue": "dc8c1d30-b772-49dc-a64f-6418550a5fff",
          "type": "String",
          "metadata": {
            "schemaName": "advcellp_ApproverListName"
          }
        },
        "Error Log List (advcellp_ErrorLogList)": {
          "defaultValue": "736f5c22-48c4-42d2-82a1-acc196c907ec",
          "type": "String",
          "metadata": {
            "schemaName": "advcellp_ErrorLogList"
          }
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "ddeae634-9355-450c-b417-f34bb43f8942"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "msdyn_project",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "proj_businessunit"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Try": {
          "actions": {
            "Compose_for_Department": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "4b99bd8e-470a-4863-8bd1-5b6bd995d7fa"
              },
              "type": "Compose",
              "inputs": "@triggerOutputs()?['body/_proj_businessunit_label']"
            },
            "Get_items_from_Agratas_Head_Approvers_list": {
              "runAfter": {
                "Compose_for_Department": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b2532074-e7fc-493b-9406-fb7a3ea9de5b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline",
                  "operationId": "GetItems",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "@parameters('Sharepoint Site Name (advcellp_SharepointSiteName)')",
                  "table": "@parameters('Approver List Name (advcellp_ApproverListName)')",
                  "$filter": "Department eq '@{outputs('Compose_for_Department')}'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each": {
              "foreach": "@outputs('Get_items_from_Agratas_Head_Approvers_list')?['body/value']",
              "actions": {
                "List_rows_Users": {
                  "runAfter": {
                    "Compose_for_Head_value": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "50e24ca8-ee89-4724-af4d-80e6b17d81d7"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "systemusers",
                      "$select": "systemuserid, internalemailaddress",
                      "$filter": "internalemailaddress eq '@{items('Apply_to_each')?['Name/Email']}'"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Switch_case_for_Head_value": {
                  "runAfter": {
                    "List_rows_Users": [
                      "Succeeded"
                    ]
                  },
                  "cases": {
                    "Case_-_Department_Head": {
                      "case": "Department head",
                      "actions": {
                        "Apply_to_each_3": {
                          "foreach": "@outputs('List_rows_Users')?['body/value']",
                          "actions": {
                            "Set_variable_Department_Head_user_ID": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "351e34e5-6a40-4fe7-955d-98f74bfc13dc"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "User ID",
                                "value": "@items('Apply_to_each_3')?['systemuserid']"
                              }
                            }
                          },
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "1c8d261f-1b36-4507-b844-27c00d7d40fb"
                          },
                          "type": "Foreach"
                        },
                        "Update_Department_Head_": {
                          "runAfter": {
                            "Apply_to_each_3": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "e48b4989-988d-4d90-a92b-67b0e04548bc"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "UpdateOnlyRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "msdyn_projects",
                              "recordId": "@triggerOutputs()?['body/msdyn_projectid']",
                              "item/advcellp_DepartmentHead@odata.bind": "systemusers(@{variables('User ID')})"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      }
                    },
                    "Case_-_CTO": {
                      "case": "CTO",
                      "actions": {
                        "Apply_to_each_4": {
                          "foreach": "@outputs('List_rows_Users')?['body/value']",
                          "actions": {
                            "Set_variable_CTO_user_ID": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "81d540bb-4506-46e8-9854-f9f74c1d0c0a"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "User ID",
                                "value": "@items('Apply_to_each_4')?['systemuserid']"
                              }
                            }
                          },
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "87d4c915-c841-444b-a83c-41dec6bc28f5"
                          },
                          "type": "Foreach"
                        },
                        "Update_CTO": {
                          "runAfter": {
                            "Apply_to_each_4": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "2b52457b-49f9-49f2-be33-ce07846375a2"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "UpdateOnlyRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "msdyn_projects",
                              "recordId": "@triggerOutputs()?['body/msdyn_projectid']",
                              "item/advcellp_CTO@odata.bind": "systemusers(@{variables('User ID')})"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      }
                    },
                    "Case_Executive_Sponsor": {
                      "case": "Executive sponsor",
                      "actions": {
                        "Apply_to_each_5": {
                          "foreach": "@outputs('List_rows_Users')?['body/value']",
                          "actions": {
                            "Set_variable_Executive_sponsor_user_ID": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "33af1a7c-edc4-4d80-8f75-8c28fd7dd5e6"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "User ID",
                                "value": "@items('Apply_to_each_5')?['systemuserid']"
                              }
                            }
                          },
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "ee0638c2-a225-44ea-9827-172a98641557"
                          },
                          "type": "Foreach"
                        },
                        "Update_Executive_Sponsor": {
                          "runAfter": {
                            "Apply_to_each_5": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "c5429fed-4f91-42d9-906b-f72fefaffcd3"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "UpdateOnlyRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "msdyn_projects",
                              "recordId": "@triggerOutputs()?['body/msdyn_projectid']",
                              "item/proj_ExecutiveSponsor@odata.bind": "systemusers(@{variables('User ID')})"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      }
                    },
                    "Case_PMO_Head": {
                      "case": "PMO head",
                      "actions": {
                        "Apply_to_each_6": {
                          "foreach": "@outputs('List_rows_Users')?['body/value']",
                          "actions": {
                            "Set_variable_PMO_Head_user_ID": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "9733d880-d412-480b-8a1a-95b7d31c20ce"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "User ID",
                                "value": "@items('Apply_to_each_6')?['systemuserid']"
                              }
                            }
                          },
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "d3e07506-73bf-46a5-85fa-451dd0c3e403"
                          },
                          "type": "Foreach"
                        },
                        "Update_PMO_Head": {
                          "runAfter": {
                            "Apply_to_each_6": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "8ce5616b-5ee3-4e8b-ab29-53bc076278c4"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "UpdateOnlyRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "msdyn_projects",
                              "recordId": "@triggerOutputs()?['body/msdyn_projectid']",
                              "item/advcellp_PMOHead@odata.bind": "systemusers(@{variables('User ID')})"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      }
                    }
                  },
                  "default": {
                    "actions": {}
                  },
                  "expression": "@items('Apply_to_each')?['Head/Value']",
                  "metadata": {
                    "operationMetadataId": "5c4e9673-5266-43ac-b077-73a505be5c00"
                  },
                  "type": "Switch"
                },
                "Set_variable_User_ID_to_null": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "cad39bd1-7dfc-4d77-9625-0d8c2be3a3c6"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "User ID",
                    "value": "@{null}"
                  }
                },
                "Compose_for_Head_value": {
                  "runAfter": {
                    "Set_variable_User_ID_to_null": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c887ea78-2bce-4ef2-928b-6e347e90ae98"
                  },
                  "type": "Compose",
                  "inputs": "@items('Apply_to_each')?['Head/Value']"
                }
              },
              "runAfter": {
                "Get_items_from_Agratas_Head_Approvers_list": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d3e0a326-d263-4b7d-a0a6-a1eb42223381"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Initialize_variable_User_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1c1af855-32ab-49de-a9c4-8a584e1a3209"
          },
          "type": "Scope"
        },
        "Initialize_variable_User_ID": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "eb854970-2dbe-4cda-b1c6-5014a248ece2"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "User ID",
                "type": "string"
              }
            ]
          }
        },
        "Catch_2": {
          "actions": {
            "Create_item_-_Error_Log_2": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "dfda1d5f-e020-4f9b-a0be-9cec5ae5079c"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline",
                  "operationId": "PostItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "@parameters('Sharepoint Site Name (advcellp_SharepointSiteName)')",
                  "table": "@parameters('Error Log List (advcellp_ErrorLogList)')",
                  "item/Title": "Error in advcellp_Department Based Approver Mapping (Project)",
                  "item/ErrorLogType/Value": "Power automate",
                  "item/PowerAutomateorJavascriptName": "advcellp_Department Based Approver Mapping (Project)",
                  "item/ErrorMessage": "Child automate to get the Approver based on Department ",
                  "item/ErrorOccurredInEntity": "Approver list",
                  "item/EntityRecordID": " ",
                  "item/OccurrenceTime": "@convertTimeZone(utcNow(), 'India Standard Time', 'UTC')",
                  "item/PathorRunningAutomateURL": "@concat('https://make.powerautomate.com/environments/', workflow()['tags']['environmentName'], '/flows/', workflow()['name'], '/runs/', workflow()['run']['name'])",
                  "item/OtherInformation": "Child automate to get the Approver based on Department "
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Try": [
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "7240598b-077d-4b5f-86c0-aef41cce2c98"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}