Workflows/advcellp_ChildShareNewlyAddedAccess-AC05E816-B24A-F011-877A-7CED8D3A90CB.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "advcellp_sharedcommondataserviceforapps_f3c76"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "dbfd5b5c-3961-43d1-ba6d-551cecf73195"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "ID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "Person",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "Entity Logical Name",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_variable_-_Entity_Logical_Name": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "daf2a710-e018-4e98-abd3-7095fedd4298"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Entity Logical Name",
                "type": "string",
                "value": "@triggerBody()['text_2']"
              }
            ]
          }
        },
        "Try": {
          "actions": {
            "Perform_an_unbound_action_-_Share_Access": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "a78a7e31-1d60-41b1-b886-20a05db4be8b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "PerformUnboundAction",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "actionName": "GrantAccess",
                  "item/Target": "@{variables('Entity Logical Name')}(@{triggerBody()['text']})",
                  "item/PrincipalAccess": {
                    "Principal": {
                      "systemuserid": "@{triggerBody()['text_1']}",
                      "@@odata.type": "Microsoft.Dynamics.CRM.systemuser"
                    },
                    "AccessMask": "ReadAccess, WriteAccess, AppendAccess, AppendToAccess, ShareAccess, AssignAccess"
                  }
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Respond_to_a_Power_App_or_flow": {
              "runAfter": {
                "Perform_an_unbound_action_-_Share_Access": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2128517c-ca7e-4988-bea2-4795f2f919d8"
              },
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "statusCode": 200,
                "body": {},
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "runAfter": {
            "Initialize_variable_-_Entity_Logical_Name": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e46d480d-a151-4150-9bc2-bb441de8ae44"
          },
          "type": "Scope"
        },
        "Catch": {
          "actions": {},
          "runAfter": {
            "Try": [
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "df11db21-ecd7-4fcc-8ec9-56d32e454944"
          },
          "type": "Scope"
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}